<meta charset="UTF-8" />
<title>IBEC Tank Control Panel</title>
<link
  rel="stylesheet"
  type="text/css"
  href="/stylesheets/base.css"
/>
<link
  rel="icon"
  type="image/ico"
  href="/symbols/favicon.ico"
/>